#dropzone {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 600px;
    height: 800px;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
}

#winston {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    z-index: 10;
}

.add-picture {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.space-10{
    height: 10px;
}
.space-30{
    height: 30px;
}
.space-center{
    height: 300px;
}

@keyframes float {
    0% {
      transform: translatey(0px);
      width: 100%;
      height: auto;
      transform: rotate(0deg);
    }
    50% {
      transform: translatey(-20px);
      width: 50%;
      height: auto;
      transform: rotate(180deg);
    }
    100% {      
      transform: translatex(-20px);
      width: 0%;
      height: auto;
      transform: rotate(330deg);
    }
  }