#dropzone {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 600px;
    height: 600px;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2);
}

#winston {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    z-index: 10;
}

.add-picture {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.space-10{
    height: 10px;
}
.space-30{
    height: 30px;
}